<h1>New Vacancy</h1>
<%= form_for :job, url: company_jobs_path do |f| %>
	
	<p>
	  <%= f.label :profession %><br>
	  <%= f.text_field :profession %>
	</p>

	<p>
	  <%= f.label :country %><br>
	  <%= f.text_field :country %>
	</p>

	<p>
	  <%= f.label :city %><br>
	  <%= f.text_field :city %>
	</p>
	<p>
	  <%= f.submit %>
	</p>

<% end %>