<h1>New Company</h1>
<%= form_for :company, url: companies_path do |f| %>
	<% if @company.errors.any? %>
		<div id="error">
		<h2>
		  <%= pluralize(@company.errors.count, "error") %> Название не сохранено
		</h2>
		<ul>
			<% @company.errors.full_message.each do |msg| %>
				<li><%= msg %></li>
			<% end %>
		</ul>
		</div>
	<% end %>
	<p>
	  <%= f.label :title %><br>
	  <%= f.text_field :title %>
	</p>
	<p>
	  <%= f.submit %>
	</p>
<% end %>