<!DOCTYPE html>
<html>
<head>
  <title>Vacancy</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<header class="hero-unit">
		<%= yield %>
	</header>
	<div class="row">
		<section class="col-xs-6">
			<h2>СОИСКАТЕЛЬ</h2>
			<%= link_to "Sign up", '#', class: "btn btn-large btn-primary" %>
		</section>
		<section class="col-xs-6">
			<h2>РАБОТОДАТЕЬ</h2>
			<%= link_to "Sign up", '#', class: "btn btn-large btn-primary" %>
		</section>
	</div>
	<section class="container">
		<p>Просмотр доступных вакансий</p>
	</section>


</body>
</html>
